<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="instructor_dash">
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="static/images/logo.jpg" alt="College Enrollment Logo">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Logout</a></li>
            </ul>
        </nav>
    </header>
    <h1>Welcome, Instructor {{ instructor[1] }} {{ instructor[2] }}</h1>

    <div class="profile">
        <h2>Profile Details</h2>
        <p><strong>Instructor ID:</strong> {{ instructor[0] }}</p>
        <p><strong>Phone:</strong> {{ instructor[4] }}</p>
        <p><strong>Email:</strong> {{ instructor[3] }}</p>

        <h2>Course(s) You Teach</h2>
        <ul>
            {% for course in courses %}
                <li>{{ course.course_name }} (Course Capacity: {{ course.capacity }})</li>
            {% endfor %}
        </ul>

        <h2>Students Enrolled</h2>
        <div class="student-list">
            <ul>
                {% for student in students %}
                    <li><a href="/student/{{ student.student_id }}">{{ student.first_name }} {{ student.last_name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>


