<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="student_dash">
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="static/images/logo.jpg" alt="College Enrollment Logo">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Logout</a></li>
            </ul>
        </nav>
        
    </header>
    <h1>Welcome, {{ student[1] }} {{ student[2] }}</h1>

    <div class="profile">
        <h2>Profile Details</h2>
        <p><strong>Student ID:</strong> {{ student[0] }}</p>
        <p><strong>Age:</strong> {{ student.age }}</p>
        <p><strong>Date of Birth:</strong> {{ student[3] }}</p>
        <p><strong>Phone:</strong> {{ student[5] }}</p>
        <p><strong>Email:</strong> {{ student[4] }}</p>

        <h2>Courses Enrolled</h2>
        <ul>
            {% for course in courses %}
                <li>{{ course.course_name }} (Instructor: {{ course.instructor_name }}) - Grade: {{ course.grade }}</li>
            {% endfor %}
        </ul>

        <h2>Department</h2>
        <p>{{ student[8] }}</p>

        
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>


